<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Inicio de Sesión</title>
        <link rel="stylesheet" href="../css/style.css">
        <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    </head>

    <body class="mainlogin">

        <h1 class="brandtitle">PIERCING</h1>

        <div id="mensaje" class="mensaje-oculto"></div>

        <main class="logincontainer">
            <form action="#" method="get" class="form-grid">
                <legend class="logintitle">Inicio de Sesión</legend>
                <input type="email" name="email" class="login-input" placeholder="Correo Electrónico">
                <input type="password" name="password" class="login-input" placeholder="Contraseña">
                <button type="submit" class="btn-checkout" id="login-btn">INGRESAR</button>
            </form>
        </main>
        <p><a href="/">← Volver al Homepage</a></p>
    </body>

    <script type="module" src="../js/login.js"></script>

</html>